// styles/_mixins.scss
@import './variables.scss';

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive-font-size($size) {
  font-size: $size;

  @media (min-width: $breakpoint-sm) {
    font-size: $size * 1.1;
  }

  @media (min-width: $breakpoint-md) {
    font-size: $size * 1.2;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: $size * 1.3;
  }
}

@mixin responsive-table {
  @media (max-width: $breakpoint-md) {

    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(5),
    td:nth-child(5) {
      display: none;
    }
  }

  @media (max-width: $breakpoint-sm) {

    th,
    td {
      padding: 8px;
    }
  }
}

@mixin responsive-input {
  width: 100%;
  max-width: 400px;

  @media (max-width: $breakpoint-md) {
    max-width: none;
  }
}