// styles/_variables.scss

// Colores
$primary-color: #0A5BB4;
$secondary-color: #E6E6E6;
$background-color: #f4f4f4;
$text-color: #333;

// Tamaños de fuente
$font-size-normal: 1rem;
$font-size-large: 1.2rem;

// Breakpoints para Media Queries
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
