// Users.module.scss

@import '../../styles/variables';
@import '../../styles/mixins';

.container {
    @include flexCenter;
    flex-direction: column;
    margin-bottom: 1rem;
}

.opportunityCard {
    border: 1px solid $primary-color;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .opportunityName {
        @include responsive-font-size(1.2);
        font-weight: bold;
        margin: 10px 0;
        color: $primary-color;
    }

    .opportunityDescription {
        font-size: $font-size-normal;
        margin-bottom: 10px;
        color: $secondary-color;
    }
}

.opportunitiesTable {
    @include responsive-table;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    th {
        background-color: #f2f2f2;
        padding: 10px;
        text-align: left;
    }

    tr {
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #f5f5f5;
        }
    }

    td {
        padding: 10px;
        border-bottom: 1px solid #eaeaea;
    }

    .logo {
        width: 50px;
        height: auto;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.addButton {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

// Responsive Design
@media (min-width: $breakpoint-md) {
    .opportunityCard {
        width: calc(50% - 20px);
    }
}

@media (min-width: $breakpoint-lg) {
    .opportunityCard {
        width: calc(25% - 20px);
    }
}